# Module 6 Exercises - Correlation and Models

### Exercise 1:

From the datasets folder, load the "tamiami.csv" file as a dataframe. Rename the columns (in order) to the following:

- location
- sales
- employees
- restaurants
- foodcarts
- price

Then do a correlation table on that dataframe. What features (columns) are correlated? What features aren't correlated?

In [ ]:
import pandas as pd
import numpy as np

In [6]:
Location ="datasets/tamiami.csv"
df = pd.read_csv(Location)

df.head()

,Cart Location,Hot Dog Sales,Employees in Nearby Office Buildings,Num of Nearby Restaurants,Num of Other Food Carts Nearby,Price
0,1,100,1600,8,12,4.16
1,2,80,1200,6,13,4.63
2,3,450,2800,19,6,0.50
3,4,580,4300,19,2,0.47
4,5,100,1400,6,13,4.24

In [8]:
# of businesses in district (Business)
df.rename(columns={'Cart Location': 'location'}, inplace =True)
df.rename(columns={'Hot Dog Sales':'sales'} ,inplace =True)
df.rename(columns= {'Employees in Nearby Office Buildings':'employees'}, inplace =True)
df.rename(columns= {'Num of Nearby Restaurants':'restaurants'},inplace =True)
df.rename(columns= {'Num of Other Food Carts Nearby':'foodcarts'},inplace =True)
df.rename(columns= {'Price':'price'},inplace =True)

df.head()

   location  sales  employees  restaurants  foodcarts  price
0         1    100       1600            8         12   4.16
1         2     80       1200            6         13   4.63
2         3    450       2800           19          6   0.50
3         4    580       4300           19          2   0.47
4         5    100       1400            6         13   4.24

In [9]:
df.corr()

             location     sales  employees  restaurants  foodcarts     price
location     1.000000  0.042705  -0.068923     0.049701   0.077219 -0.138444
sales        0.042705  1.000000   0.943238     0.913674  -0.919762 -0.966378
employees   -0.068923  0.943238   1.000000     0.856976  -0.874692 -0.881540
restaurants  0.049701  0.913674   0.856976     1.000000  -0.761793 -0.933951
foodcarts    0.077219 -0.919762  -0.874692    -0.761793   1.000000  0.860154
price       -0.138444 -0.966378  -0.881540    -0.933951   0.860154  1.000000

In [11]:
import statsmodels.formula.api as smf

In [13]:
result = smf.ols('sales ~ location + employees + restaurants + foodcarts + foodcarts', data=df).fit()

result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.972
Model:                            OLS   Adj. R-squared:                  0.967
Method:                 Least Squares   F-statistic:                     213.6
Date:                Sat, 20 Apr 2019   Prob (F-statistic):           6.19e-19
Time:                        15:06:23   Log-Likelihood:                -143.79
No. Observations:                  30   AIC:                             297.6
Df Residuals:                      25   BIC:                             304.6
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     122.2588     55.415      2.206      0.037       8.130     236.387
location        1.5391      0.693      2.222      0.036       0.112       2.966
employees       0.0628      0.018      3.500      0.002       0.026       0.100
restaurants    12.0274      2.323      5.176      0.000       7.242      16.813
foodcarts     -15.5918      2.783     -5.602      0.000     -21.324      -9.860
==============================================================================
Omnibus:                        1.664   Durbin-Watson:                   2.226
Prob(Omnibus):                  0.435   Jarque-Bera (JB):                1.041
Skew:                           0.031   Prob(JB):                        0.594
Kurtosis:                       2.090   Cond. No.                     2.09e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.09e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### Exercise 2:

Using the dataframe from the previous exercise, choose features (columns) to create a linear regression formula to predict sales. Try it with and without the y-intercept. How does it make a difference? Does adding or removing features in your model formula make a difference in the output?

In [14]:
result = smf.ols('sales ~ location + employees + restaurants + foodcarts + foodcarts-1', data=df).fit()

result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.990
Model:                            OLS   Adj. R-squared:                  0.988
Method:                 Least Squares   F-statistic:                     616.3
Date:                Sat, 20 Apr 2019   Prob (F-statistic):           2.42e-25
Time:                        15:15:47   Log-Likelihood:                -146.46
No. Observations:                  30   AIC:                             300.9
Df Residuals:                      26   BIC:                             306.5
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
location        1.7765      0.733      2.422      0.023       0.269       3.284
employees       0.0908      0.014      6.656      0.000       0.063       0.119
restaurants    12.3681      2.485      4.978      0.000       7.261      17.476
foodcarts      -9.8218      1.020     -9.630      0.000     -11.918      -7.725
==============================================================================
Omnibus:                        0.855   Durbin-Watson:                   2.105
Prob(Omnibus):                  0.652   Jarque-Bera (JB):                0.774
Skew:                          -0.092   Prob(JB):                        0.679
Kurtosis:                       2.235   Cond. No.                         876.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""